body{
    background-color: rgb(222, 232, 252);
    padding: 80px 250px 80px 250px;
    font-family: 'Montserrat', sans-serif;
}
.page {
    box-shadow: rgba(202, 201, 201, 0.445) 0px 7px 29px 0px;
}
.blueHeader {
    background-color: #00417a;
    padding: 40px 0 40px 40px ;
}
.imgTitle {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 30px;
    margin-bottom: 25px;
}
img {
    width: 15%;
    display: inline-block;
    filter: brightness(90%)
}
h1 {
  padding-left: 30px;
  color: aliceblue;
  font-size: 40px;
}
h2 {
  color: aliceblue;
}
.formulario {
    background-color: aliceblue;
    padding: 30 30 40 30;
}
.question {
    font-size: 17px;
    margin: 30 0 40 0;
}
.tableandText {
    padding: 0 60 0 60;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 80px;
}
table, td, th {
    border: 1px solid;
    border-color: gray;
    padding: 10px 15 10 15;
    text-align: center;
    margin-bottom: 20px;
}
table {
      width: 100%;
  }
button {
    background-color: #004b8b;
    color: aliceblue;
    size: 400px;
    border: none;
    font-size: 18px;
    padding: 13 75 13 75;
}
.doNotProvide {
    margin-top: 20px;
    font-size: 13px;
}